#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    position: sticky;
}

.logoContainer img {
    height: 100px;
    background-color: blue;
}

.navContainer ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 400px;
    justify-content: space-between;
    padding-right: 40px;
    font-size: larger;
    font-weight: bolder;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.res-card {
    width: 250px;
    height: 300px;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.res-card img {
    height: 50%;
    border-radius: 10px;
}

.search {
    margin-top: 20px;
    background-color: rgb(225, 225, 225);
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

.search:hover {
    background-color: rgb(200, 200, 200);
    cursor: pointer;
    border: 1px solid black;
}

.filter {
    margin-top: 20px;
    display: flex;
    
}

.filter-btn {
    background-color: rgb(225, 225, 225);
    height: 30px;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.shimmer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.shimmer-card{
    width: 250px;
    height: 300px;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    
}